node_modules
uploads
pnpm-lock.yaml
yarn.lock
package-lock.json
.env
swagger.js
swagger_output.json

 location /api {
        rewrite ^\/api\/(.*)$ /api/$l break;
        proxy_pass http://localhost:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }